.single-notification-card{
    border: 1px solid black;
    width: 40%;
    min-height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .notification-card-left{
        flex: 1;
    }

    .notification-card-content{
        display: flex;
        flex-direction: column;
        flex: 3;

        .title{
            font-size: 1rem;
            font-weight: 600;
        }

        .post-title{
            font-size: 0.9rem;
        }

        .notification-time{
            font-size: 0.8rem;
            font-style: italic;
        }
    }

    .notification-card-right{
        flex: 2;
        padding: 1%;

        .post-img{
            width: 60%;
            object-fit: cover;
        }
    }
}